@charset "UTF-8";

/*清楚所有元素的内外边距*/
* {
	padding: 0px;
	margin: 0px;
}

header {
	background: #eee
}

footer {
	background: #ddd;
	clear: both;
}

main {
	width: 1200px;
	margin: auto;
}

#content-left {
	background: #aaa;
	width: 900px;
	float: left;
}

#content-right {
	background: #999;
	width: 290px;
	float: right;
}

/********************页头**********************/
header>div {
	background: #000;
	color: #fff;
}

header>div>div {
	width: 1200px;
	margin: auto;
}

/*设定div所有内部元素的垂直居中*/
header>div>div>* {
	vertical-align: middle;
}

header span {
	height: 50px;
	line-height: 50px;
	padding: 0px 10px;
	display: inline-block;
}

header>img{
	display: block;
}
















